name: Run tests

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com
          git config --global init.defaultBranch main
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          auto-activate-base: true
      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
      - name: Reinitialize shell
        run: |
          source ~/.bashrc
          pixi --version
      - name: Run tests
        run: |
          source ~/.bashrc
          pixi --version
          make test
